@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.todo {
  padding: 20px;
}

.priarm {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border-color: #1890ff;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #1890ff;
}

.priarm:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.demo-loadmore-list {
  min-height: 350px;
}